#!/bin/bash

{{ if not .data.brew.enable }}
exit 0
{{ end }}
while ! command -v brew &>/dev/null; do
    sleep 1
done

{{ if has .data.convenience_tools "zsh" }}
brew install zsh
{{ end }}

{{ if has .data.convenience_tools "fzf" }}
brew install fzf
{{ end }}

{{ if has .data.convenience_tools "fd" }}
brew install fd
{{ end }}

{{ if has .data.convenience_tools "find" }}
brew install findutils
{{ end }}

{{ if has .data.convenience_tools "lazygit" }}
brew install lazygit
{{ end }}

{{ if has .data.convenience_tools "yazi" }}
brew install yazi
{{ end }}

{{ if has .data.convenience_tools "gh" }}
brew install gh
{{ end }}

{{ if has .data.convenience_tools "tmux" }}
brew install tmux
{{ end }}

{{ if has .data.convenience_tools "ripgrep" }}
brew install ripgrep
{{ end }}
