#!/bin/bash

{{ if not .data.suites.go.enable }}
exit 0
{{ end }}

{{ if .data.brew.enable }}
if ! command -v go &>/dev/null; then
    brew install go@{{ .data.suites.go.version }}
fi
{{ else }}
while ! command -v go &>/dev/null; do
    sleep 1
done
{{ end }}

{{ if has .data.go_extensions "air" }}
go install github.com/air-verse/air@latest
{{ end }}

{{ if has .data.go_extensions "impl" }}
go install github.com/josharian/impl@latest
{{ end }}
