README.md
PACKAGES.md
installers/
.github/
dots
Dots.cmd
set-proxy
Set-Proxy.cmd
.shellcheckrc
PSScriptAnalyzerSettings.psd1

{{ if eq .chezmoi.os "windows" }}
**/*.sh
**/*.sh.tmpl
{{ else }}
**/*.ps1
**/*.ps1.tmpl
**/*.cmd
**/*.vbs
.wslconfig
AppData/
{{ end }}

{{- if ne .chezmoi.os "linux" }}
.config/fcitx5
.config/environment.d
.local/share/applications
.local/share/fcitx5
.local/share/icons
.chezmoiscripts/run_after_08-xray.sh.tmpl
{{- end }}

.config/claude/settings.json
.config/codex/config.toml

{{- if ne .chezmoi.os "darwin" }}
.local/bin/notify
{{- end }}
