{{- $origin := output "git" "-C" .chezmoi.sourceDir "remote" "-v" -}}
{{- $useSSH := regexMatch "(?m)^origin[[:space:]]+(git@|ssh://|git\\+ssh://)" $origin -}}
{{- $installFonts := true -}}
{{- if hasKey . "installFonts" -}}
{{-   $installFonts = .installFonts -}}
{{- end -}}
[".config/nvim"]
type = "git-repo"
{{ if $useSSH }}
url = "git@github.com:ishianecho/ishian.nvim.git"
{{ else }}
url = "https://github.com/ishianecho/ishian.nvim.git"
{{ end }}

{{ if $installFonts }}
[fonts]
type = "archive"
url = "https://github.com/ishianecho/assets/releases/download/fonts-v1.0/fonts.tar.xz"
{{ if eq .chezmoi.os "darwin" }}
targetPath = "Library/Fonts"
{{ else if eq .chezmoi.os "linux" }}
targetPath = ".local/share/fonts"
{{ else if eq .chezmoi.os "windows" }}
targetPath = "AppData/Local/Microsoft/Windows/Fonts"
{{ end }}
include = ["*.ttf"]
{{ end }}
