encryption = "age"

[age]
	recipient = "age1lqfj2wt2376ephe4r4a0qas5nlq5hgtj5j7dzd926ukk346k5paqd9vvu5"
	identity = "~/.age/key.txt"

[edit]
	command = "vim"
	args = []

[data]

[data.necessary_pkg_cmd_map]
"fd" = "fd"
"ripgrep" = "rg"
"tmux" = "tmux"
"fzf" = "fzf"
"bat" = "bat"
"libuv" = "libuv"
"xclip" = "xclip"
"wl-clipboard" = "wl-copy"
"checkstyle" = "checkstyle"
"git" = "git"
"unzip" = "unzip"
"wget" = "wget"
"curl" = "curl"
"gcc@15" = "gcc"
"make" = "make"
"cmake" = "cmake"
"ninja" = "ninja"
"pkg-config" = "pkg-config"
"gettext" = "gettext"
