encryption: "age"
age:
  recipient: "age1lqfj2wt2376ephe4r4a0qas5nlq5hgtj5j7dzd926ukk346k5paqd9vvu5"
  identity: "~/.age/key.txt"

edit:
  command: "nvim"
  args: []

data:
  username: "ishi-o"
  email: "458457289@qq.com"
  base_path: "{{ .chezmoi.homeDir }}/.local"
  go_version: "1.26.0"
  go_root: "{{ .chezmoi.homeDir }}/.local/go"
  nvm_node: "20"
  pyenv_python: "3.12"
