{{- $im := "pinyin" -}}
{{- if stat "/usr/share/rime-data/rime_frost_double_pinyin.schema.yaml" -}}
{{-   $im = "rime" -}}
{{- end }}
[Groups/0]
# Group Name
Name=Default
# Layout
Default Layout=us
# Default Input Method
DefaultIM={{ $im }}

[Groups/0/Items/0]
# Name
Name=keyboard-us
# Layout
Layout=

[Groups/0/Items/1]
# Name
Name={{ $im }}
# Layout
Layout=

[GroupOrder]
0=Default
